In [8]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [45]:
data = pd.read_csv('titanic.csv', index_col='PassengerId')
data = data[['Pclass', 'Fare', 'Age', 'Sex', 'Survived']]
data.head(10)

             Pclass     Fare   Age     Sex  Survived
PassengerId
1                 3   7.2500  22.0    male         0
2                 1  71.2833  38.0  female         1
3                 3   7.9250  26.0  female         1
4                 1  53.1000  35.0  female         1
5                 3   8.0500  35.0    male         0
6                 3   8.4583   NaN    male         0
7                 1  51.8625  54.0    male         0
8                 3  21.0750   2.0    male         0
9                 3  11.1333  27.0  female         1
10                2  30.0708  14.0  female         1

Check how many nan values there are in Age column

In [46]:
data['Age'].isnull().sum()

177

Drop rows with nan values in it, reindex and detach target from dataset

In [47]:
# target = target[data['Age'].notnull()]
# data = data[data['Age'].notnull()]    <---- or like so
data.dropna(axis = 0, inplace=True)
target = data.Survived
data.drop('Survived', axis=1, inplace=True)
data.reindex()
data.head(10)

             Pclass     Fare   Age     Sex
PassengerId
1                 3   7.2500  22.0    male
2                 1  71.2833  38.0  female
3                 3   7.9250  26.0  female
4                 1  53.1000  35.0  female
5                 3   8.0500  35.0    male
7                 1  51.8625  54.0    male
8                 3  21.0750   2.0    male
9                 3  11.1333  27.0  female
10                2  30.0708  14.0  female
11                3  16.7000   4.0  female

In [48]:
def sex_mapper(sex):
    if sex == 'male':
        sex = 1
    else:
        sex = 0
    return sex

data.Sex = data.Sex.map(sex_mapper)
data.head()

             Pclass     Fare   Age  Sex
PassengerId
1                 3   7.2500  22.0    1
2                 1  71.2833  38.0    0
3                 3   7.9250  26.0    0
4                 1  53.1000  35.0    0
5                 3   8.0500  35.0    1

Create a TreeClassifier object and train it

In [82]:
clf = DecisionTreeClassifier(random_state=241)
clf.fit(X=data, y=target)
importances = clf.feature_importances_
feature_importance_map = dict(zip(importances, data.columns.tolist()))
print(feature_importance_map)
print('The most important feature is {}'.format(feature_importance_map[max(feature_importance_map.keys())]))
dump = feature_importance_map.pop(max(feature_importance_map.keys()))
del dump
print('The second important feature is {}'.format(feature_importance_map[max(feature_importance_map.keys())]))

{0.1400052185312419: 'Pclass', 0.30343646953145248: 'Fare', 0.30051221095823943: 'Sex', 0.25604610097906622: 'Age'}
The most important feature is Fare
The second important feature is Sex